

{% extends 'user_dashboard/base.html' %}

{% block content %}

<h2 class="fw-bold mb-3">
    Welcome, User 👋
</h2>

<h3 class="fw-semibold mb-3">


Continue learning, share your skills.



<div class="row mt-5">

    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-4">
            <h6>Skills Offered</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-4">
            <h6>Skills Learning</h6>
            <h2 class="text-primary">5</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-4">
            <h6> Pending 
                Requests</h6>
            <h2 class="text-warning">4</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-4">
            <h6>Completed</h6>
            <h2 class="text-danger">9</h2>
        </div>
    </div>

</div>

<div class="row mt-5">

<h7 class="fw-bold mb-3">
Explore Skills Category
</h7>

<div class="row g-4 mt-3">

<div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Coding</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Designs</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Music</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

     <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Language</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

     <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Codig</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

     <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Fitness</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

     <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Photography</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>

     <div class="col-md-3">
        <div class="card shadow border-0 rounded-4 p-3">
            <h6>Business</h6>
            <h3 class="text-success">12</h3>
        </div>
    </div>





{% endblock %}