<!DOCTYPE html>
<html>

<head>
    <title>Live Sessions</title>

    <style>

body{
font-family:Arial;
background:#f5f5f5;
}

.card{
width:350px;
margin:50px auto;
padding:25px;
background:white;
border-radius:12px;
box-shadow:0 0 10px gray;
text-align:center;
}

button{
padding:10px 25px;
background:#28a745;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#218838;
}

    </style>

</head>

<body>

<div class="card">

<h2>Python Full Stack Live Class</h2>

<p>Date : 10 August</p>

<p>Time : 7:00 PM</p>

<p>Trainer : John</p>

<a href="https://meet.google.com/" target="_blank">
<button>Join Session</button>
</a>

</div>

</body>

</html>