{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 py-3">

    <div class="container-fluid">

       
        <a class="navbar-brand d-flex align-items-center fw-bold text-success fs-3" href="#">
    <img src="{% static 'images/logo1.png' %}"
    
         alt="Logo"
         width="45"
         height="45"
         class="me-2 rounded-circle">

    SkillBank
</a>

        <!-- Search -->
        <form class="d-flex mx-auto w-50">
            <input class="form-control rounded-pill"
                   type="search"
                   placeholder="Search skills..."
                   aria-label="Search">
        </form>

        <!-- Right Side -->
        <div class="d-flex align-items-center">

            <!-- Notification -->
            <button class="btn position-relative me-3">
                <i class="bi bi-bell fs-4"></i>

                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    3
                </span>
            </button>

            <!-- Profile -->
            <!-- Profile -->
<div class="rounded-circle bg-light d-flex justify-content-center align-items-center"
     style="width:45px; height:45px; border:2px solid #198754;">
    <i class="bi bi-person-fill text-success fs-4"></i>

        </div>

    </div>

</nav>