{% extends 'user_dashboard/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="fw-bold mb-4">Request a Skill 📚</h2>

    <div class="card shadow border-0 rounded-4 p-4">

        <form>

            <div class="mb-3">
                <label class="form-label">Skill Name</label>
                <input type="text" class="form-control" placeholder="Enter Skill Name">
            </div>

            <div class="mb-3">
                <label class="form-label">Requested By</label>
                <input type="text" class="form-control" placeholder="Your Name">
            </div>

            <div class="mb-3">
                <label class="form-label">Preferred Date</label>
                <input type="date" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Message</label>
                <textarea class="form-control" rows="4"
                    placeholder="Why do you want to learn this skill?"></textarea>
            </div>

            <button type="submit" class="btn btn-success">
                Submit Request
            </button>

        </form>

    </div>

</div>

{% endblock %}