{% load static %}

<div class="sidebar-horizontal" id="sidebar">

   


    <!-- Navigation -->

    <a href="{% url 'dashboard' %}">
        🏠 Dashboard
    </a>


    <a href="{% url 'skills' %}">
        🔍 Browse Skills
    </a>


    <a href="{% url 'add_skill' %}">
        ➕ Add Skill
    </a>


    <a href="{% url 'live_session' %}">
        🎥 Live Session
    </a>


    <a href="{% url 'chatbot' %}">
        🤖 Chatbot
    </a>


    <a href="{% url 'logout' %}">
        🚪 Logout
    </a>


</div>