<!DOCTYPE html>
<html>
<head>
    <title>Payment Page</title>
</head>
<body>

<h2>Skill Bank Payment</h2>

<form>
    <label>Name</label><br>
    <input type="text"><br><br>

    <label>Card Number</label><br>
    <input type="text" placeholder="4111 1111 1111 1111"><br><br>

    <label>Expiry</label><br>
    <input type="text" placeholder="12/30"><br><br>

    <label>CVV</label><br>
    <input type="password" placeholder="123"><br><br>

    <label>Amount</label><br>
    <input type="number" placeholder="500"><br><br>

    <button type="submit">
        Pay Now
    </button>

</form>

</body>
</html>